


<!-- views/partials/head.ejs -->


<meta charset="UTF-8">
<title>Siistec Pagina Prueba</title>
<script type="text/javascript" src="scripts/slider.js"></script>
<script type="text/javascript" src="slider.js"></script>
<!-- CSS (load bootstrap from a CDN) -->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
<link rel="stylesheet" type="text/css" href="pages/bootstrap.3.min.css" />
<style>
    body    { padding-top:50px; }
</style>
