<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="es">
  <body class="container">
    <div id="wrapper">
      <div id="header">
        <head>
            <% include ../partials/head %>
        </head>
        <header>
            <% include ../partials/header %>
        </header>
      </div>
      <div id="content">
        <main>
          <div class="jumbotron">
              <h1>Blablabla</h1>
              <div class="container">
                <h2 class="w3-center">Automatic Slideshow</h2>
                <div class="w3-content w3-section">
                  <img class="mySlides img-responsive" src="https://www.codejobs.biz/public/images/blog/original/321c90743897052.png" id="img-escal">
                  <img class="mySlides img-responsive" src="https://www.codejobs.biz/public/images/blog/original/321c90743897052.png" id="img-escal">
                  <img class="mySlides img-responsive" src="https://www.codejobs.biz/public/images/blog/original/321c90743897052.png" id="img-escal">
                </div>

                <script>
                  var myIndex = 0;
                  carousel();
                  function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                       x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) {myIndex = 1}
                    x[myIndex-1].style.display = "block";
                    setTimeout(carousel, 2000); // Change image every 2 seconds
                  }
                </script>

                <p>blablabla2</p>
              </div>
          </div>
        </main>
      </div>
      <div id="footer">
        <footer class="modal-footser">
            <% include ../partials/footer %>
        </footer>
      </div>
    </div>
  </body>
</html>
