<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="scripts/slider.js"></script>

</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <!--aqui el slider-->
            <div>
              <figure id="slidy">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/eyes.jpg" class="img-responsive" alt="eyes" >
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lou.jpg" class="img-responsive" alt="lou" >
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lucie-2.jpg" class="img-responsive" alt="lucie-2" >
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/lucie.jpg" class="img-responsive" alt="lucie" >
              </figure>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
