<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
    <script type="text/javascript">
         <!--
            function Warn() {
               alert ("This is a warning message!");
               document.write ("This is a warning message!");
            }
         //-->
      </script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <p>Click the following button to see the result: </p>

      <form>
         <input type="button" value="Click Me" onclick="Warn();" />
      </form>

            <!--aqui el slider-->

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
