<!-- views/pages/services.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <link rel="stylesheet" type="text/css" href="../bootstrap.min.css">
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-5 jumbotron">test</div>
            <div class="col-md-2"></div>
            <div class="col-md-5 jumbotron">test</div>
          </div>
          <div class="col-md-12">
            <div class="col-md-5 jumbotron">test</div>
            <div class="col-md-2"></div>
            <div class="col-md-5 jumbotron">test</div>
          </div>
        </div>

        <div class="well">
          <h3>Revisar esto probablemente cambie a a derecha o 4 cuadros</h3>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
