<!-- views/pages/services.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <link rel="stylesheet" type="text/css" href="../bootstrap.min.css">
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>HACER DIVS</h1>
                    <p>INFORMACION DE LOS TRABAJOS QUE SE HACEN</p>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Revisar esto probablemente cambie a a derecha o 4 cuadros</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
